<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Custom scrollbar styles */
      .posts::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body class="bg-zinc-800 text-white">
    <div class="relative w-full h-screen flex flex-col bg-zinc-800 text-white">
      <div class="flex justify-between p-4 absolute top-0 w-full">
        <a href="/" class="bg-blue-500 px-3 py-2 rounded-md">Home</a>
        <a href="/logout" class="bg-red-500 px-3 py-2 rounded-md">Logout</a>
      </div>

      <div class="w-full flex-grow flex flex-col items-center mt-16">
        <div class="w-full max-w-4xl flex flex-col md:flex-row gap-6 p-5">
          <div class="profile flex flex-col items-center md:items-start gap-5">
            <div class="img w-40 h-40 bg-zinc-700 overflow-hidden rounded-full">
              <img
                src="/images/profiles/<%= user.profilepic %>"
                alt="Profile"
                class="object-cover h-full w-full"
              />
            </div>
            <% if(user.profilepic != "default.png"){ %>
            <a
              href="/remove/<%= user.profilepic %>"
              class="border-2 border-zinc-700 rounded-lg text-red-600 text-center mt-2"
              >Remove Profile</a
            >
            <% } %>
          </div>

          <div class="flex flex-col justify-between flex-grow">
            <div class="info">
              <h3 class="text-2xl font-bold">@<%= user.username %></h3>
              <h3 class="text-lg font-semibold my-2 text-zinc-400">
                <%= user.name %>
              </h3>
              <p class="text-zinc-300">
                <%= user.posts.length %> post<%= user.posts.length != 1 ? "s" :
                "" %>
              </p>
            </div>
            <div class="mt-4">
              <a href="/post" class="bg-blue-500 px-3 py-2 rounded-md mr-3"
                >Add post</a
              >
              <a
                href="/profile/edit"
                class="bg-zinc-300 text-black rounded-md px-3 py-2"
                >Edit Profile</a
              >
            </div>
          </div>
        </div>

        <div class="line w-full h-1 bg-zinc-700 mt-4"></div>

        <div class="posts w-full max-w-4xl overflow-auto mt-4 p-5">
          <% if(user.posts.length > 0){ %> <%
          user.posts.reverse().forEach((post) => { %>
          <div class="post w-full p-5 border-2 border-zinc-500 rounded-lg my-5">
            <div class="flex justify-between">
              <h3 class="font-semibold text-md">@<%= user.username%></h3>
              <p class="text-zinc-600">
                <%= time(Date.now() - post.timestamp) %>
              </p>
            </div>
            <p class="text-lg my-3"><%= post.post %></p>
            <% if(post.media != "") { %>
            <div class="w-full bg-zinc-700 h-96 overflow-hidden">
              <% if(getFileType(post.media) == "image") { %>
              <img
                src="/posts/<%= post.media %>"
                class="w-full h-full object-contain"
              />
              <% } %> <% if(getFileType(post.media) == "video") { %>
              <video
                src="/posts/<%= post.media %>"
                class="w-full h-full object-contain"
                autoplay
                muted
                loop
              ></video>
              <% } %>
            </div>
            <% } %>
            <div class="flex justify-between items-center mt-3">
              <div class="likes">
                <p class="text-zinc-500"><%= post.likes.length %> likes</p>
                <a
                  href="/like/<%= post._id %>"
                  class="text-blue-500 font-semibold"
                  ><%= post.likes.includes(user._id) ? "Unlike" : "Like" %></a
                >
              </div>
              <a
                href="/edit/<%= post._id %>"
                class="text-yellow-500 font-semibold"
                >Edit</a
              >
            </div>
          </div>
          <% }) %> <% } else { %>
          <h3 class="text-zinc-500 text-center">No posts yet.</h3>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
