<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Custom scrollbar styles */
      .posts::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="relative main w-full h-screen bg-zinc-800 text-white">
      <a
        href="/logout"
        class="bg-red-500 absolute px-3 py-2 rounded-md top-0 right-0"
        >Logout</a
      >
      <a href="/" class="bg-blue-500 absolute px-3 py-2 top-0 left-0 rounded-md"
        >Home</a
      >
      <div class="w-1/2 h-full m-auto flex flex-col gap-3">
        <div class="profile flex gap-5 p-10">
          <div class="flex flex-col">
            <div
              class="img w-40 h-40 bg-zinc-700 overflow-hidden shrink-0 rounded-full"
            >
              <img
                src="/images/profiles/<%= user.profilepic %>"
                alt="Profile"
                class="object-cover h-full w-full"
              />
            </div>
            <% if(user.profilepic != "default.png"){ %>

            <a
              href="/remove/<%= user.profilepic %>"
              class="border-2 border-zinc-700 rounded-lg text-red-600 text-center"
              >Remove Profile</a
            >
            <% } %>
          </div>

          <div class="flex flex-col justify-between">
            <div class="info">
              <h3 class="text-2xl font-bold">@<%= user.username %></h3>
              <h3 class="text-lg font-semibold my-2 text-zinc-400">
                <%= user.name %>
              </h3>
              <p class="text-zinc-300">
                <%= user.posts.length %> post<%= user.posts.length != 1 ? "s" :
                "" %>
              </p>
            </div>
            <div>
              <a href="/post" class="bg-blue-500 px-3 py-2 rounded-md mr-5"
                >Add post</a
              >
              <a
                href="/profile/edit"
                class="bg-zinc-300 text-black rounded-md px-3 py-2"
                >Edit Profile</a
              >
            </div>
          </div>
        </div>

        <div class="line h-1 bg-zinc-700"></div>
        <div class="posts overflow-auto">
          <% if(user.posts.length > 0){ %> <%
          user.posts.reverse().forEach((post) => { %>
          <div class="post w-full p-5 border-2 border-zinc-500 rounded-lg my-5">
            <div class="flex justify-between">
              <h3 class="font-semibold text-md">@<%= user.username%></h3>
              <p class="text-zinc-600">
                <%= time(Date.now() - post.timestamp) %>
              </p>
            </div>
            <p class="text-lg my-3"><%=post.post%></p>
            <div class="flex justify-between items-center">
              <div class="likes">
                <p class="text-zinc-500"><%= post.likes.length %> likes</p>
                <a
                  href="/like/<%= post._id %>"
                  class="text-blue-500 font-semibold"
                  ><%= post.likes.includes(user._id) ? "Unlike" : "Like" %></a
                >
              </div>
              <a
                href="/edit/<%= post._id %>"
                class="text-yellow-500 font-semibold"
                >Edit</a
              >
            </div>
          </div>
          <% })%> <% } else { %>
          <h3 class="text-zinc-500">No posts yet.</h3>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
